/* 比赛的可读日期 */
.matches-date {
  /*color: #888;*/
  font-weight: bold;
  font-size: small;
  border-bottom: 1px solid #e8e8e8;
}

/* 当天的赛程安排以特殊颜色强调 */
.matches-recent {
  background-color: rgba(82, 196, 26, 0.1);
}

/* 该场正在进行 */
.matches-live {
  background-color: rgba(82, 196, 26, 0.2);
}

/* LOL 比赛开始时间 */
.matches-time {
  width: 35px;
}

/* LOL 队名*/
.team-name {
  width: 80px;
  font-weight: bold;
}

/* LOL 的比分 */
.game-score {
  width: 70px;
}

/* LOL 的比分数字 */
.score-num {
  width: 5px;
  font-weight: bold;
}

/* 比分的的符号 */
.score-icon {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #d0d0d0;
  border: 1px solid #d0d0d0;
}

.score-icon:not(:last-child) {
  margin-right: 3px;
}

/* 比赛中得分的符号 */
.score-icon-win {
  background: #f2ae44;
  border: 1px solid #f2ae44;
}

/* 败者队名颜色变暗 */
.game-lost {
  color: #AAA;
}

/* 比赛名 */
.game-ename {
  width: 180px;
}